body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: rgb(33, 37, 41);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.search-box {
    width: 241px;
    height: 38px;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid rgb(206, 212, 218);
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}


.search-box:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid rgb(222, 226, 230);
}

th {
    font-weight: 700;
}

td img {
    vertical-align: middle;
    margin-left: 8px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#prevBtn, #nextBtn {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#dataLimit {
    padding: 6px;
    width: 50px;
}

#dataLimit:invalid {
    border: 1px solid red;
}

.spinner {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}
